apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: veccy-metrics
  labels:
    app: veccy
    prometheus: kube-prometheus
spec:
  selector:
    matchLabels:
      app: veccy
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      scheme: http
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_name]
          targetLabel: pod
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          targetLabel: node
        - sourceLabels: [__meta_kubernetes_namespace]
          targetLabel: namespace
  namespaceSelector:
    matchNames:
      - default  # Update to your namespace
